<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<title>{{title}}</title>
	<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<a class="sr-only sr-only-focusable" href="#content">Skip to Content</a>

{{{body}}}
</body>
</html>
