<!-- main.hbs -->
<main class="page-content" id="content" role="main">
	<p class="large">Welcome to <strong>{{title}}</strong>.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices feugiat nisl, ut
		pretium turpis laoreet placerat. Sed sollicitudin, libero a dictum tincidunt, leo est ornare
		lorem, vitae pretium enim augue quis dolor.</p>
	<p>Vestibulum pharetra posuere interdum. Aliquam interdum, libero id sollicitudin venenatis, est
		erat semper tortor, eget dictum nunc massa eu velit.</p>
	<p>Quisque faucibus nibh mattis, rutrum nisl ut, viverra arcu. Duis placerat arcu et nulla tempus
		imperdiet. Etiam pretium semper posuere. Praesent lobortis felis egestas mi iaculis, eu
		aliquet tortor condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</main>
